{% comment %}
*   Menu
*
*   This include lets you easily display the navigation menu (including mobile hamburger menu).
*
*   usage: {% include _header.html fname='nav' %}
{% endcomment %}

<header id="header" style = "background-color: #eee; height: 100px;">
  {% if site.logo %}
  <span id="logo" class= "image">
    <a href="{{ site.baseurl }}/index">
    <img src="{{ site.baseurl }}{{ site.logo }}" alt = "Logo of {{ site.title }}" height = "90" style = "padding-top : 10px; padding-left: 10px" />
    </a>
  </span>
  {% else %}
  <h1 id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  {% endif %}

  <!-- Nav (COMMENTED WHOLE BLOCK)-->
  <nav id="nav">
    <ul>
      <!-- We will Always load _data.nav.yml (Global Links) -->
      {% if page.lang %}
        {% for title in site.data[ "nav" ][page.lang] %}
        <li><a href="{{ title.path | prepend: site.baseurl }}" >{{ title.title }}</a>
          {% if title.subtitle %}
          <ul>
            {% for title in title.subtitle %}
            <li><a href="{{title.path | prepend: site.baseurl }}">{{ title.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      {% endif %}

      <!-- Language Support
        Currently only for Page & Index -->

      {% if page.layout == 'page' or page.layout == 'index' %}
        {% assign posts = site.posts | where: "lang-ref", page.lang-ref | sort: 'lang' %}
        {% if posts.size == 0 %}
            {% assign posts = site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% endif %}
        {% if posts.size > 1 %}
            <!-- the "reversed" in the for loop is to show 'tc' before 'sc' -->
            {% for post in posts reversed %}
              {% if post.lang != page.lang %}
                  {% if site.data.lang[post.lang].direct %}     <!-- please help john-->
                  <li><a href="{{ site.directurl }}{{ post.url }}" class="button small fit" title="View in {{ site.data.lang[post.lang].label }}">
                    {{ site.data.lang[post.lang].button }}</a></li>
                  {% else %}
                  <li><a href="{{ site.baseurl }}{{ post.url }}" class="button small fit" title="View in {{ site.data.lang[post.lang].label }}">
                    {{ site.data.lang[post.lang].button }}</a></li>
                  {% endif %}
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endif %}
      <!-- end of Language Support -->
    </ul>
  </nav>

  <!-- dropotron nav -->


  <nav id="nav-small">
    <ul>
      <li><a href="#menu" style="float:right;"><br></a></li>
    </ul>
  </nav>
</header>

<!-- Create Mobile Menu -->
{% include _menu.html fname = include.fname %}

{% comment %}
<style>
    #fill {
      background-color: #394D89;
    }
</style>

<div id = "fill">
<section class="wrapper style1">
  <div class="inner">
    </div>
    </section>
</div>
{% endcomment %}
