{% comment %}
*   Menu
*
*   This include lets you easily display the navigation menu (including mobile hamburger menu).
*
*   usage: {% include _header.html fname='nav' %}
{% endcomment %}

<header id="header">
  {% if site.logo %}
  <span id="logo" class= "image">
    <a href="{{ site.baseurl }}/home">
    <img src="{{ site.baseurl }}{{ site.logo }}" alt = "Logo of {{ site.title }}" height = "72" style = "padding-top : 10px; padding-left: 10px" />
    </a>
  </span>
  {% else %}
  <h1 id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  {% endif %}

  <!-- Nav (COMMENTED WHOLE BLOCK)-->
  <!-- <nav id="nav">
    <ul style = "color: #fff;" >    
      {% if page.lang %}
        {% for item in site.data[ include.fname ][page.lang] %}
        <li><a href="{{ item.path | prepend: site.baseurl }}" >{{ item.title }}</a></li>
        {% endfor %}
      {% else %}
        {% for item in site.data[ include.fname ] %}
        <li><a href="{{ item.path | prepend: site.baseurl }}" >{{ item.title }}</a></li>
        {% endfor %}
      {% endif %} 

      We will Always load _data.nav.yml (Global Links)
      {% if page.lang %}
        {% for item in site.data[ "nav" ][page.lang] %}
        <li><a href="{{ item.path | prepend: site.baseurl }}" >{{ item.title }}</a></li>
        {% endfor %}
      {% else %}
        {% for item in site.data[ "nav" ] %}
        <li><a href="{{ item.path | prepend: site.baseurl }}" >{{ item.title }}</a></li>
        {% endfor %}
      {% endif %}

      {% comment %}
      Make Contact Us regular per Panerai
      <li><a href="{{ site.baseurl }}/home#contact" class="button special smooth-scroll-middle">Contact Us</a></li>
     
      <li><a href="{{ site.baseurl }}/home#contact">Contact Us</a></li>
      {% endcomment %}

      
      Language Support
        Currently only for Page & Index
     
      {% if page.layout == 'page' or page.layout == 'index' %}
        {% assign posts = site.posts | where: "lang-ref", page.lang-ref | sort: 'lang' %}
        {% if posts.size == 0 %}
            {% assign posts = site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% endif %}
        {% if posts.size > 1 %}
            the "reversed" in the for loop is to show 'tc' before 'sc'
            {% for post in posts reversed %}
              {% if post.lang != page.lang %}
        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button small fit special" title="View in {{ site.data.lang[post.lang].label }}">
          {{ site.data.lang[post.lang].button }}</a></li>
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endif %}
      end of Language Support
    </ul>
  </nav> -->

  <!-- dropotron nav -->
  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/pages/our-philosophy">about us</a>
        <ul>
          <li><a href="/pages/our-philosophy">our philosophy</a></li>
          <li><a href="/pages/our-teaching-methodologies">our teaching methodologies</a></li>
          <li><a href="/pages/leadership">our leadership team</a></li>
        </ul>
      </li>
      <li>
        <a href="/pages/schools">our schools</a>
        <ul>
          <li><a href="/pages/sparrow-early-learning-australia">sparrow early learning | au</a></li>
          <li><a href="/pages/sparrow-soccer-hongkong">sparrow soccer school | hk</a></li>
          <li><a href="/pages/boundary-oak-uk">boundary oak school | uk</a></li>
        </ul>
      </li>
      <li>
        <a href="/pages/offices-hk">our office</a>
        <ul>
          <li><a href="/pages/offices-hk">hong kong</a></li>
          <li><a href="/pages/offices-london">london</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <nav id="nav-small">
    <ul>
      <li><a href="#menu">Menu</a></li>
    </ul>
  </nav>
</header>

<!-- Create Mobile Menu -->
{% include _menu.html fname = include.fname %}
