{% comment %}
*   Nav Menu for small device
*
*   This include lets you easily display a mobile menu.
*
*   usage: {% include _menu.html fname='nav' %}
{% endcomment %}

<nav id="menu">
  <ul>
    <li><a href="{{site.baseurl}}/index">Home</a></li>
    <li>
      <a href="{{site.baseurl}}/pages/our-philosophy">about us</a>
      <ul>
        <li><a href="{{site.baseurl}}/pages/our-philosophy">our philosophy</a></li>
        <li><a href="{{site.baseurl}}/pages/our-teaching-methodologies">our teaching methodologies</a></li>
        <li><a href="{{site.baseurl}}/pages/leadership">our leadership team</a></li>
      </ul>
    </li>
    <li>
      <a href="{{site.baseurl}}/pages/sparrow-early-learning-australia">our schools</a>
      <ul>
        <li><a href="{{site.baseurl}}/pages/sparrow-early-learning-australia">sparrow early learning | au</a></li>
        <li><a href="{{site.baseurl}}/pages/sparrow-soccer-hongkong">sparrow soccer school | hk</a></li>
        <li><a href="{{site.baseurl}}/pages/boundary-oak-uk">boundary oak school | uk</a></li>
      </ul>
    </li>
    <li>
      <a href="{{site.baseurl}}/pages/offices-hk">our office</a>
      <ul>
        <li><a href="{{site.baseurl}}/pages/offices-hk">hong kong</a></li>
        <li><a href="{{site.baseurl}}/pages/offices-london">london</a></li>
      </ul>
    </li>
  </ul>
</nav>